<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>360io</title>
<link rel="stylesheet" href="http://media.360.io/css/io.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="http://media.360.io/css/stream.css" type="text/css" charset="utf-8">
</head>

<body>
<iframe id="iframe" width="100%%" height="100%%" frameborder="0"></iframe>

<div id="_io360">

<div id="_framedrop" class="_backdrop"></div>

<div id="_hover">
    <div id="_markcontainer" class="_framebtn">
        <a class="bar_null" id="_mark" href="javascript:io360.stream.red();">
            <b></b><span>360io</span>
        </a>
    </div>
    
    <div id="_closecontainer" class="_framebtn">
        <a id="_closer" href="javascript:io360.stream.leaveStream();">
            <b></b><span>Close</span>
        </a>
    </div>
    
    <div id="_dashcontainer" class="_framebtn">
        <a id="_dash" href="javascript:io360.auth.settings();">
            <b></b><span>Dashboard</span>
        </a>
    </div>
    
    <div id="_logincontainer" class="_framebtn">
        <a id="_login" href="javascript:io360.auth.show();">
            <b></b><span>Login/Register</span>
        </a>
    </div>
</div>

<div id="_frame"><div id="_stream"><div id="_comments"></div></div></div>

<div id="_publisherdrop" class="_backdrop"></div>
<div id="_publisher" class="_floater">
    <div id="_publishertabs" class="_floatertabs">
        <ul>
            <li class="_info"><a href="javascript:io360.stream.publisher.info();"><span><i>Info</i></span></a></li>
            <li class="_post"><a href="javascript:io360.stream.publisher.post();"><span><i>Reply</i></span></a></li>
        </ul>
        
        <div class="_close"><a href="javascript:io360.stream.closePublisher();"><span>Close</span><i></i></a></div>
    </div>
    
    <form action="http://service.360.io/create/tail" method="POST" onsubmit="io360.stream.submit(); return false;">
        <div class="_textwrapper"><textarea class="body">Write your comment here...</textarea></div>
        
        <a href="javascript:io360.auth.show();" class="_publishAuth _userButton"><b></b><span>Login / Register</span><b></b></a>
        
        <div class="_inputs"><span></span>
            <div class="_inputwrapper"><input class="name" type="text" value="name" /></div>
            <div class="_inputwrapper"><input class="email" type="text" value="email" /></div>
        </div>

        <a id="_postbtn" class="_ltebtn" href="javascript:io360.stream.submit();"><span><i>Post</i></span></a>

        <input type="hidden" value="">
        <input type="submit" style="display: none;" onclick="io360.stream.submit(); return false;">
    </form>
</div>

<div id="_showdrop" class="_backdrop"></div>
<div id="_show" class="_floater">
    <div id="_showbody">
        <p></p>
        <div class="_close"><a href="javascript:io360.show.close();"><span>Close</span><i></i></a></div>
    </div>
</div>

<div id="_tweetdrop" class="_backdrop"></div>
<div id="_tweet" class="_floater">
    <form action="http://service.360.io/create/twitter/post" method="POST" onsubmit="io360.twitter.postTweet(); return false;">
        <p></p>
        
        <div class="_textwrapper"><textarea class="comment" onkeyup="io360.twitter.update();"></textarea></div>
        <a href="javascript:io360.twitter.tether();" class="_tetherTwitter _userButton"><b></b><span>Link Your Account to Twitter</span><b></b></a>
        <div class="_count">0 / 140</div>
        
        <a id="_tweetbtn" class="_ltebtn" href="javascript:io360.twitter.postTweet();"><span><i>Tweet</i></span></a>
        
        <input type="submit" style="display: none;" onclick="io360.twitter.postTweet(); return false;">
        <div class="_close"><a href="javascript:io360.twitter.close();"><span>Close</span><i></i></a></div>
    </form>
</div>

<div id="_dashdrop" class="_backdrop"></div>
<div id="_dashboard" class="_floater">
    <div id="_dashtabs" class="_floatertabs">
        <ul>
            <li class="_info"><a href="javascript:io360.dash.info();"><span><i>Info</i></span></a></li>
            <li class="_style"><a href="javascript:io360.dash.style();"><span><i>Style Manager</i></span></a></li>
            <li class="_logout"><a href="javascript:io360.auth.show();"><span><i>Logout</i></span></a></li>
        </ul>
        
        <div class="_close"><a href="javascript:io360.dash.close();"><span>Close</span><i></i></a></div>
    </div>

    <div id="_dashbody">
        <div id="_stylemanager">          
            <div class="_preview"><div class="_render">
                <div class="comment">
                    <div class="author">By ...</div>
                    <div class="body">Look! No Limits!</div>
                </div>
            </div></div>

            <div class="_description">
                <p>Each comment has the following html structure: <span>(A reference for you when you exercise your freedom and apply your own style to whatever you say online)</span></p>
                
<pre>&lt;div class="comment"&gt;
    &lt;div class="author"&gt;By ...&lt;/div&gt;
    &lt;div class="body"&gt;Look! No Limits!&lt;/div&gt;
&lt;/div&gt;</pre>

            </div>

            <form action="http://service.360.io/auth/style" method="POST" onsubmit="io360.style.save(); return false;">
                <div class="_fields">
                    <div class="_textwrapper"><textarea id='_iostyle' onkeyup='io360.style.updatePreview();'></textarea></div>
                </div>
            
                <a id="_styleresetbtn" class="_ltebtn" href="javascript:io360.style.reset();"><span><i>Reset</i></span></a>
                <a id="_stylesavebtn" class="_ltebtn" href="javascript:io360.style.save();"><span><i>Save</i></span></a>
            </form>
        </div>
    </div>
</div>

<div id="_authdrop" class="_backdrop"></div>
<div id="_auth" class="_floater">
    <form action="http://service.360.io/auth/login" method="POST" onsubmit="io360.auth.auth(); return false;">
        <p></p>
        
        <div class="_inputs"><span></span>
            <div class="_inputwrapper"><input id="name" type="text" value="name" /></div>
            <div class="_inputwrapper"><input id="email" type="text" value="email" /></div>
            <div class="_inputwrapper"><input id="password" type="password" value="password" /></div>
        </div>

        <a id="_authbtn" class="_ltebtn" href="javascript:io360.auth.auth();"><span><i>Login</i></span></a>
    
        <a id="swap" href="javascript:io360.auth.swapMode()">Register</a>
    
        <input type="submit" style="display: none;" onclick="io360.auth.auth(); return false;">
        <div class="_close"><a href="javascript:io360.auth.close();"><span>Close</span><i></i></a></div>
    </form>
</div>

<table id="_tooltip" cellpadding="0" cellspacing="0" border="0">
<tr class="r2"><td class="c2"></td><td class="c1"></td><td class="c0"></td><td class="c1"></td><td class="c2"></td></tr>
<tr class="r1"><td class="c2"></td><td class="c1"></td><td class="c0"></td><td class="c1"></td><td class="c2"></td></tr>
<tr class="r0"><td class="c2"></td><td class="c1"></td><td class="c0">
<div><span></span>
<table id="_toolarrow" cellpadding="0" cellspacing="0" border="0">
<tr class="ar0"><td class="ac2"></td><td class="ac1"></td><td class="ac0"></td><td class="ac1"></td><td class="ac2"></td></tr>
<tr class="ar1"><td class="ac2"></td><td class="ac1"></td><td class="ac0"></td><td class="ac1"></td><td class="ac2"></td></tr>
<tr class="ar2"><td class="ac2"></td><td class="ac1"></td><td class="ac0"></td><td class="ac1"></td><td class="ac2"></td></tr>
<tr class="ar3"><td class="ac2"></td><td class="ac1"></td><td class="ac0"></td><td class="ac1"></td><td class="ac2"></td></tr>
<tr class="ar4"><td class="ac2"></td><td class="ac1"></td><td class="ac0"></td><td class="ac1"></td><td class="ac2"></td></tr>
</table></div>
</td><td class="c1"></td><td class="c2"></td></tr>
<tr class="r1"><td class="c2"></td><td class="c1"></td><td class="c0"></td><td class="c1"></td><td class="c2"></td></tr>
<tr class="r2"><td class="c2"></td><td class="c1"></td><td class="c0"></td><td class="c1"></td><td class="c2"></td></tr>
</table>

</div>

<script type="text/javascript" src="http://media.360.io/js/jquery.js"></script>
<script type="text/javascript" src="http://media.360.io/js/core.js"></script>
<script type="text/javascript" src="http://media.360.io/js/stream.js"></script>
<script type="text/javascript">
    io360.stream.init(%s, %s, "%s");
</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%%3E%%3C/script%%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-340711-3");
pageTracker._setDomainName(".360.io");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>